@use 'base' as *;
@use 'variables' as *;


body {
    width: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 100px 40px;
    display: flex;
    width: 90%;
    height: 800px;   
}
.sidebar {
    background-color: $sidebar-color;
    width: 15%;
    border: 10px solid $sidebar-color;
    border-radius: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.content {
    background-color: $content-color;
    width: 100%;
    
    border: 10px solid $content-color;
    border-radius: 0 50px 50px 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    
}

.search {
    display: flex;
    border-bottom: 1px solid;
    align-items: center;
    width: 50%;

    img {
        width: 20px;
    }

    input {
        border: none;
        background-color: $content-color;
    }
}
.orangeBox {
        color: #fff;
        background-color: $button-color;
        padding: 10px 10px;
        border-radius: 10px;
}

.titleArea {
    display: flex;
    align-items: center;
}
.titles {
    justify-content: space-between;
}
.numbers {
    display: flex;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}