@use 'base' as *;
@use 'variables' as *;
h1 {
    font-family: 'Berkshire Swash', cursive;
}
h2 {
    font-family: 'Berkshire Swash', cursive;
}
h3 {
    font-family: 'Rubik', sans-serif;

}
a {
    font-family:'Rubik', sans-serif;
}
p {
    font-family: 'Rubik', sans-serif;
}
body {
    width: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin: 100px 40px;
    display: flex;
    width: 90%;
    height: 800px;   
}


// sidebar section

.sidebar {
    background-color: $sidebar-color;
    width: 15%;
    border: 10px solid $sidebar-color;
    border-radius: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    .sidebarSection {
        margin-bottom: 30px;
        width: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
#boxShadow37 {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#potLogo {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
#potText {
    font-size: .90em;
}
.logoLinks {
    margin: 30px 0;
    display: flex;

    a {
        color: #988e8b;
    }
    a:hover {
        color: #000;
      }
    
}

.grayText {
    color: $greyText;
}
.orangeLogo {
    margin-right: 10px;
    width: 20px;
}
#FoodooIMG {
    width: 120px;
    margin: 40px 0;
}
#KristinIMG {
    width: 120px;
}
#kristinText {
    font-size: 1.2em;
}
#ChefText {
    margin-top: 5px;
    font-size: .9em;
}

#profilePics {
    width: 100px;
}
#profilePicsText {
    width: 130px;
    font-weight: bold;
    font-size: .8em;
}


//content section

.content {
    background-color: $content-color;
    width: 100%;
    
    border: 10px solid $content-color;
    border-radius: 0 50px 50px 0;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    
}

.search {
    display: flex;
    border-bottom: 1px solid $greyText;
    align-items: center;
    width: 30%;

    img {
        width: 20px;
    }

    input {
        border: none;
        background-color: $content-color;
        width: 100%;
    }
}

.tuner {
    width: 2em;
}

.orangeBox {
        color: #fff;
        background-color: $button-color;
        padding: 10px 10px;
        border-radius: 10px;
}

.titleArea {
    display: flex;
    align-items: center;
}
.titles {
    justify-content: space-between;
}
.numbers {
    display: flex;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}