html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #c9c4a9;
  font-family: "Rubik", sans-serif;
}

.box {
  border-radius: 25px;
  width: 220px;
  height: 290px;
  border: #000000;
  background-color: #ffffff;
  margin: 2px;
  transition: all 2s;
  margin-top: 75px;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.box:hover {
  transform: translate(0px, -20px);
}
.box:hover h5 {
  background-color: red;
  color: #ffffff;
  box-shadow: 0px 14px 23px -7px rgba(242, 90, 90, 0.38);
}

.box .bottom-text {
  display: flex;
  justify-content: center;
}

.brownbar {
  background-color: #ffefd7;
  border-radius: 10px;
  padding: 5px;
  color: #e08600;
  font-size: 12px;
  font-weight: bold;
  display: inline-flex;
  margin-left: 30%;
  margin-top: 10px;
}

.redbar {
  background-color: #f7c2cb;
  border-radius: 10px;
  padding: 5px;
  color: #a70f28;
  font-size: 12px;
  font-weight: bold;
  display: inline-flex;
  margin-left: 33%;
  margin-top: 10px;
}

.greenbar {
  background-color: #d5fdec;
  border-radius: 10px;
  padding: 5px;
  color: #87dd8b;
  font-size: 12px;
  font-weight: bold;
  display: inline-flex;
  margin-left: 33%;
  margin-top: 10px;
}

.box h5 {
  transition: all 2s;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-weight: bold;
}

.centeredImage {
  display: flex;
  justify-self: center;
  margin-top: -75px;
  margin-left: 35px;
}

.centeredImagePasta {
  display: flex;
  justify-self: center;
  margin-top: -88px;
  margin-left: 35px;
}

.recipeName {
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
  gap: 15px;
}

.column {
  font-size: 17px;
  font-weight: bold;
}

.column:nth-last-child(n+2) {
  border-right: 1px solid #988e8b;
  padding-right: 20px;
}

.columnRow {
  font-size: 10px;
  font-weight: lighter;
}

.leaf {
  max-width: 18px;
  max-height: 15px;
}

.rating {
  padding-left: 58px;
  padding: 10px 0 10px 58px;
}

.steak {
  max-width: 20px;
  max-height: 20px;
}

#lightGreenBox {
  background-color: #7dbfa2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 255, 26, 0.1) 0px 20px 25px -5px, rgba(21, 101, 52, 0.04) 0px 10px 10px -5px;
}

#proBox {
  margin: 20px 0 0 20px;
  padding: 5px 10px;
  width: 25px;
  border-radius: 5px;
  font-size: 0.8em;
  background-color: #000000;
  color: rgb(231, 231, 231);
  text-align: center;
}

#greenBoxContent {
  padding: 20px;
}

#mentorTitle {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 15px;
}

#mentorText {
  font-size: 0.9em;
  color: #fff;
  width: 95%;
}

#imagefix {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 3em;
}

h2 {
  font-family: "Berkshire Swash", cursive;
  font-size: 2em;
}

h3 {
  font-family: "Rubik", sans-serif;
}

a {
  font-family: "Rubik", sans-serif;
}

p {
  font-family: "Rubik", sans-serif;
  color: #988e8b;
}

body {
  width: 100%;
  background-color: #FA7C72;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 100px 40px;
  display: flex;
  width: 90%;
  height: 800px;
  max-width: 1250px;
}

.sidebar {
  background-color: #ffffff;
  width: 15%;
  border: 10px solid #ffffff;
  border-radius: 50px 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebarSection {
  margin-bottom: 30px;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boxShadow37 {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#potLogo {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#potText {
  font-size: 0.9em;
}

.logoLinks {
  margin: 30px 0;
  display: flex;
}
.logoLinks a {
  color: #988e8b;
}

.logoLinks:hover a {
  color: #000;
}

.logoLinks:hover img.orangeLogo {
  display: none;
}

.logoLinks img.orangeLogoHover {
  display: none;
}

.logoLinks:hover img.orangeLogoHover {
  display: block;
}

.grayText {
  color: #988e8b;
}

.orangeLogo, .orangeLogoHover {
  margin-right: 10px;
  width: 20px;
}

#FoodooIMG {
  width: 120px;
  margin: 40px 0;
}

#KristinIMG {
  width: 120px;
}

#kristinText {
  font-size: 1.2em;
}

#ChefText {
  margin-top: 5px;
  font-size: 0.9em;
}

#profilePics {
  width: 100px;
}

#profilePicsText {
  width: 130px;
  font-weight: bold;
  font-size: 0.8em;
  color: #000;
}

.content {
  background-color: #FCF4F0;
  width: 100%;
  border: 10px solid #FCF4F0;
  border-radius: 0 50px 50px 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2em 2em;
}

.search {
  display: flex;
  border-bottom: 1px solid #988e8b;
  align-items: center;
  width: 33%;
  padding: 15px;
}
.search img {
  width: 20px;
  margin-right: 10px;
}
.search input {
  border: none;
  background-color: #FCF4F0;
  width: 100%;
}

.tuner {
  width: 1em;
}

.orangeBox {
  color: #fff;
  background-color: #DB3528;
  padding: 20px 20px;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  box-shadow: 0px 14px 23px -7px rgba(242, 90, 90, 0.33);
}

.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.leftTitle {
  display: flex;
  align-items: center;
}
.leftTitle img {
  width: 8em;
}
.leftTitle .titles {
  justify-content: space-between;
  padding: 0 2em;
}
.leftTitle h1 {
  padding-bottom: 15px;
}

.rightTitle {
  display: flex;
}
.rightTitle div {
  padding: 0 1em 0 2em;
}
.rightTitle div:nth-child(1) {
  border-right: 1px solid #988e8b;
  padding-right: 2em;
}
.rightTitle h1 {
  padding-bottom: 10px;
}/*# sourceMappingURL=style.css.map */